body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 50vh;
    background-color: rgb(202, 200, 200);
}
.container {
    text-align: center;
    border-style: double black; 
    padding: 10px;
    
}
.container p {
    font-size: large;
}
#begin {
    padding: 10px 24px;
    font-size: 26px;
    background-color: rgb(14, 231, 14);
}
#begin:hover {
    background-color: green;
}

